version: '3'

services:
  bot:
    build: .
    restart: unless-stopped
    environment:
      - BOT_ID=$BOT_ID
      - BOT_SECRET=$BOT_SECRET
      - BOT_TOKEN=$BOT_TOKEN
      - DATABASE_URI=mongodb://db/hammer
      - OWNER_ID=$OWNER_ID
      - GUILD_ID=$GUILD_ID
      - OTHER_GUILD_IDS=$OTHER_GUILD_IDS
      - CHANNEL_ABOUT=$CHANNEL_ABOUT
      - CHANNEL_APPEALS=$CHANNEL_APPEALS
      - CHANNELS_PUBLIC=$CHANNELS_PUBLIC
      - CHANNELS_BLURPLEFIER=$CHANNELS_BLURPLEFIER
      - CHANNEL_ZEPPELIN_CASES=$CHANNEL_ZEPPELIN_CASES
      - ROLE_ADMINISTRATORS=$ROLE_ADMINISTRATORS
      - ROLE_TEAM_LEADERS=$ROLE_TEAM_LEADERS
      - ROLE_LEADERSHIP_STAFF=$ROLE_LEADERSHIP_STAFF
      - ROLE_MODERATION_STAFF=$ROLE_MODERATION_STAFF
      - ROLE_DEVELOPERS=$ROLE_DEVELOPERS
      - ROLE_MEDIAS=$ROLE_MEDIAS
      - ROLE_SUPPORT_STAFF=$ROLE_SUPPORT_STAFF
      - ROLE_EVENTS_TEAM=$ROLE_EVENTS_TEAM
      - ROLE_MINECRAFT_TEAM=$ROLE_MINECRAFT_TEAM
      - ROLE_STAFF_ON_DUTY=$ROLE_STAFF_ON_DUTY
      - ROLE_RESTRICTION_EMBED=$ROLE_RESTRICTION_EMBED
      - ROLE_RESTRICTION_REACTIONS=$ROLE_RESTRICTION_REACTIONS
      - ROLE_RESTRICTION_BOTS=$ROLE_RESTRICTION_BOTS
      - ROLE_RESTRICTION_VAD=$ROLE_RESTRICTION_VAD
      - ROLE_RESTRICTION_NICK=$ROLE_RESTRICTION_NICK
      - ROLE_PARTNERS=$ROLE_PARTNERS
      - ROLE_MEGA_DONATORS=$ROLE_MEGA_DONATORS
      - ROLE_DONATORS=$ROLE_DONATORS
      - ROLE_RETIRED_STAFF=$ROLE_RETIRED_STAFF
      - ROLE_BLURPLE_SERVER_REPRESENTATIVE=$ROLE_BLURPLE_SERVER_REPRESENTATIVE
      - ROLE_BLURPLE_USER=$ROLE_BLURPLE_USER
      - ROLE_PAINTERS=$ROLE_PAINTERS
      - ROLE_ARTISTS=$ROLE_ARTISTS
      - ROLE_ADVENTURERS=$ROLE_ADVENTURERS
      - ROLE_ARCHIVE_ACCESS=$ROLE_ARCHIVE_ACCESS
      - ROLE_EVENTS_PING=$ROLE_EVENTS_PING
      - BOT_MODMAIL=$BOT_MODMAIL
      - BOT_ZEPPELIN=$BOT_ZEPPELIN
      - APPEALS_PORT=$APPEALS_PORT
      - APPEALS_URL=$APPEALS_URL
      - APPEALS_NUMBER_OF_PROXIES=$APPEALS_NUMBER_OF_PROXIES
      - STAFF_PORTAL_PORT=$STAFF_PORTAL_PORT
      - STAFF_PORTAL_URL=$STAFF_PORTAL_URL
      - STAFF_PORTAL_NUMBER_OF_PROXIES=$STAFF_PORTAL_NUMBER_OF_PROXIES
      - SMTP_HOST=$SMTP_HOST
      - SMTP_PORT=$SMTP_PORT
      - SMTP_SECURE=$SMTP_SECURE
      - SMTP_USERNAME=$SMTP_USERNAME
      - SMTP_PASSWORD=$SMTP_PASSWORD
      - SMTP_DISPLAY_NAME=$SMTP_DISPLAY_NAME
      - SMTP_EMAIL_ADDRESS=$SMTP_EMAIL_ADDRESS
      - SMTP_REPLY_TO_EMAIL_ADDRESS=$SMTP_REPLY_TO_EMAIL_ADDRESS
      - SUBSERVERS_NO_DESTRUCTIVE_ACTIONS=$SUBSERVERS_NO_DESTRUCTIVE_ACTIONS
      - STAFF_DOCUMENT_CLONING_TOKEN=$STAFF_DOCUMENT_CLONING_TOKEN
    volumes:
      - ./logs:/app/logs
    depends_on:
      - db
    ports:
      - 127.0.0.1:$APPEALS_PORT:$APPEALS_PORT
      - 127.0.0.1:$STAFF_PORTAL_PORT:$STAFF_PORTAL_PORT
  db:
    image: mongo:4@sha256:bfaa2730130ee80e0bdedb3b7fbc3d928c250d68bdeb1621b564e6523e123af3
    restart: always
    volumes:
      - ./database:/data/db
