name: Docker Compose

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Test Build
    runs-on: self-hosted

    steps:
    - name: Checkout
      uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

    - name: Touch .env file
      run: echo -e "APPEALS_PORT=1234\nSTAFF_PORTAL_PORT=2345" > .env

    - name: Test docker compose build
      run: docker compose build
