name: Docker Compose

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Test Build
    runs-on: self-hosted

    steps:
    - name: Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

    - name: Touch .env file
      run: echo -e "APPEALS_PORT=1234\nSTAFF_PORTAL_PORT=2345" > .env

    - name: Test docker compose build
      run: docker compose build
