name: Label sync

on:
  push:
    branches:
      - main
    paths:
      - './github/labels.yml'
  workflow_dispatch:

jobs:
  label-sync:
    name: Sync labels with labels.yml
    runs-on: self-hosted

    steps:
    - name: Checkout repository
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

    - name: Label sync
      uses: crazy-max/ghaction-github-labeler@24d110aa46a59976b8a7f35518cb7f14f434c916 # v5
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
